<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akin Portfollio</title>
    <link rel="shortcut icon" href="favicon.ico.jpg" type="image/x-icon">
    <link rel="stylesheet" href="base.css">
    <script src="jquery-3.6.0.min.js"></script>
    <script src="base.js"></script>
</head>
<body>
  <header>
    <div class="header_container">
      <p>hhshgjfhghg</p>
      <div class="logo_n_text">
        <div class="logo">
          <img src="favicon.ico.jpg" alt="my logo">
        </div>
        
        <ul class="header_text">
          <li><a href="#">About</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section class="section1">
      <h2>About me</h2>
      <p>I am a software engineer jgjhffh
        fffkflldldldldf fkfk kffhjvk kffkfkf kfkfkfk
        fkffkfk
        fkffkfjfk
      </p>
      <div class="img_container">
        <img src="lilac 2 chest button.jpg" alt="my picture">
      </div>
      
    </section>

    <section>
      <div id="submit_button">
      </div>
    </section>

    <input type="button" value="Click me g" id="clickme">
    <input type="button" id="test" value="Click me">
  </main>
  <footer>

  </footer>
</body>
</html>